<html><head>
        <link type="text/css"
            href="https://wiki.smbrave.cn/s/9b960459123d394d8d8c2601abef2f6e-CDN/-dcmbta/8505/f5e71ce5e7eab96b69c873705d53960b71f86fff/5a1b1405b9c9ae9ea9ab78206b895e02/_/download/contextbatch/css/_super/batch.css"
            rel="stylesheet">
    </head><body><div id="content" class="page view">



            <div id="action-messages">
            </div>



            <script type="text/x-template" title="searchResultsGrid">
    <table class="aui">
        <thead>
            <tr class="header">
                <th class="search-result-title">页面标题</th>
                <th class="search-result-space">空间</th>
                <th class="search-result-date">更新于</th>
            </tr>
        </thead>
    </table>
</script>
            <script type="text/x-template" title="searchResultsGridCount">
    <p class="search-result-count">{0}</p>
</script>
            <script type="text/x-template" title="searchResultsGridRow">
    <tr class="search-result">
        <td class="search-result-title"><a href="{1}" class="content-type-{2}"><span>{0}</span></a></td>
        <td class="search-result-space"><a class="space" href="/display/{4}/" title="{3}">{3}</a></td>
        <td class="search-result-date"><span class="date" title="{6}">{5}</span></td>
    </tr>
</script>
            <div id="page-metadata-start" class="assistive"></div>





            <div id="page-metadata-end" class="assistive"></div>



            <div id="main-content" class="wiki-content">

                <p class="auto-cursor-target"><a
                        href="http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/details"
                        class="external-link" rel="nofollow">&nbsp;</a>端口：9252</p><p
                    class="auto-cursor-target">API管理面板：</p><p
                    class="auto-cursor-target"><a
                        href="http://9258.gr984e2a.i8tkcg64.786129.grapps.cn/"
                        class="external-link" rel="nofollow">http://9258.gr984e2a.i8tkcg64.786129.grapps.cn/</a><a
                        href="http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/manage"
                        class="external-link" rel="nofollow">manage</a></p><p
                    class="auto-cursor-target">账号密码同bid-am</p><p
                    class="auto-cursor-target">获取列表页：</p><p
                    class="auto-cursor-target"><a
                        href="http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/details"
                        class="external-link" rel="nofollow">http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/details</a></p><p
                    class="auto-cursor-target">请求方法：GET</p><p
                    class="auto-cursor-target">请求参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 30.0601%;"><col
                                style="width: 69.9399%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal" style="position:
                            static; margin-top: 0px; left: 305px; z-index: 3;
                            width: 422px; top: 91px;"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td class="confluenceTd">words</td><td
                                    class="confluenceTd">搜索词，比如：重庆远略科技</td></tr></tbody></table></div><p
                    class="auto-cursor-target">返回参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 29.6593%;"><col
                                style="width: 70.3407%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal" style="position:
                            static; margin-top: 0px; left: 305px; z-index: 3;
                            width: 422px; top: 91px;"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td colspan="1" class="confluenceTd">words</td><td
                                    colspan="1" class="confluenceTd">搜索词</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">code</td><td
                                    colspan="1" class="confluenceTd">返回状态码，0正常，1错误</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">msg</td><td
                                    colspan="1" class="confluenceTd">返回状态信息</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">ip</td><td
                                    colspan="1" class="confluenceTd">请求发起ip</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">error</td><td
                                    colspan="1" class="confluenceTd">发生错误，正常情况下为""</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">count</td><td
                                    colspan="1" class="confluenceTd">查询到公司数量</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">type</td><td
                                    colspan="1" class="confluenceTd">数据来源，在请求详情页list时传入为type</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data</td><td
                                    colspan="1" class="confluenceTd">公司列表</td></tr><tr
                                role="row"><td class="confluenceTd">data.keyNo</td><td
                                    class="confluenceTd">查询详情页用到的id</td></tr><tr
                                role="row"><td class="confluenceTd">data.name</td><td
                                    class="confluenceTd">公司名</td></tr><tr
                                role="row"><td class="confluenceTd">data.logo</td><td
                                    class="confluenceTd">公司图标链接</td></tr></tbody></table></div><p>获取详情页</p><p
                    class="auto-cursor-target"><a
                        href="http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/details"
                        class="external-link" rel="nofollow">http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/list</a></p><p
                    class="auto-cursor-target">请求方法：GET</p><p
                    class="auto-cursor-target">请求参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 30.0601%;"><col
                                style="width: 69.9399%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal" style="position:
                            static; margin-top: 0px; left: 305px; z-index: 3;
                            width: 422px; top: 91px;"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td class="confluenceTd">words</td><td
                                    class="confluenceTd">details中拿到的data.list.keyNo</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">type</td><td
                                    colspan="1" class="confluenceTd">details中拿到的data.type</td></tr></tbody></table></div><p
                    class="auto-cursor-target">返回参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 50.7014%;"><col
                                style="width: 49.2986%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal" style="position:
                            static; margin-top: 0px; left: 305px; z-index: 3;
                            width: 422px; top: 91px;"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;
                                    min-width: 8px; max-width: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td colspan="1" class="confluenceTd">words</td><td
                                    colspan="1" class="confluenceTd">搜索词</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">code</td><td
                                    colspan="1" class="confluenceTd">返回状态码，0正常，1错误</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">msg</td><td
                                    colspan="1" class="confluenceTd">返回状态信息</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">ip</td><td
                                    colspan="1" class="confluenceTd">请求发起ip</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">error</td><td
                                    colspan="1" class="confluenceTd">发生错误，正常情况下为""</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">type</td><td
                                    colspan="1" class="confluenceTd">数据来源</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data</td><td
                                    colspan="1" class="confluenceTd">公司详情信息</td></tr><tr
                                role="row"><td class="confluenceTd">data.name</td><td
                                    class="confluenceTd"><span style="color:
                                        rgb(0,0,0);">公司名称</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td class="confluenceTd">data.logo</td><td
                                    class="confluenceTd">公司图标链接</td></tr><tr
                                role="row"><td class="confluenceTd">data.old_name</td><td
                                    class="confluenceTd"><span style="color:
                                        rgb(0,0,0);">曾用名</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td class="confluenceTd">data.registration_status</td><td
                                    class="confluenceTd"><span style="color:
                                        rgb(0,0,0);">登记状态</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.corporate_representative</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">法定代表人</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.registered_capita</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">注册资本</span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.incorporation_date</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">成立日期 &nbsp;
                                        &nbsp; &nbsp;&nbsp; </span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.approval_date</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">核准日期 &nbsp;
                                        &nbsp; &nbsp;&nbsp; </span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.area</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">所属区县 &nbsp;
                                        &nbsp; &nbsp;&nbsp; </span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.phone</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">电话</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.email</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">邮箱</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.credit_code</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">统一社会信用代码
                                        &nbsp;&nbsp; </span><span style="color:
                                        rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.taxpayer_num</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">纳税人识别号</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.registration_num</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">注册号</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.organization_code</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">组织机构代码</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.insured_persons</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">参保人数 &nbsp;
                                        &nbsp; &nbsp;&nbsp; </span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.enterprise_type</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">企业类型 &nbsp;
                                        &nbsp; &nbsp;&nbsp; </span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.industry</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">所属行业 &nbsp;
                                        &nbsp; &nbsp;&nbsp; </span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.en_name</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">英文名</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.web</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">网址</span><span
                                        style="color: rgb(0,0,0);"><br></span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.address</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">公司地址 &nbsp;
                                        &nbsp; &nbsp;&nbsp; </span></td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data.company_range</td><td
                                    colspan="1" class="confluenceTd"><span
                                        style="color: rgb(0,0,0);">经营范围 &nbsp;
                                    </span></td></tr></tbody></table></div><p>获取日志：</p><p
                    class="auto-cursor-target"><a
                        href="http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/details"
                        class="external-link" rel="nofollow">http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/log</a></p><p
                    class="auto-cursor-target">请求方法：GET</p><p
                    class="auto-cursor-target">请求参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 30.0601%;"><col
                                style="width: 69.9399%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td class="confluenceTd">method</td><td
                                    class="confluenceTd">有time(按时间查询)，id(按住id查询)，words(按照关键字查询)三种</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">page</td><td
                                    colspan="1" class="confluenceTd">分页查询，不加默认返回全部，需要与limit参数配合使用</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd"><p>limit</p></td><td
                                    colspan="1" class="confluenceTd">每页条数，需要与page参数配合使用</td></tr></tbody></table></div><p
                    class="auto-cursor-target">method=id时</p><div
                    class="table-wrap"><table class="relative-table wrapped
                        confluenceTable tablesorter tablesorter-default
                        stickyTableHeaders" style="width: 27.0652%; padding:
                        0px;" role="grid" resolved=""><colgroup><col
                                style="width: 29.9799%;"><col style="width:
                                70.0201%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td colspan="1" class="confluenceTd"><p>id</p></td><td
                                    colspan="1" class="confluenceTd">传入吧需要查询的id，返回对应id的日志</td></tr></tbody></table></div><p
                    class="auto-cursor-target">method=time时</p><div
                    class="table-wrap"><table class="relative-table wrapped
                        confluenceTable tablesorter tablesorter-default
                        stickyTableHeaders" style="width: 27.0652%; padding:
                        0px;" role="grid" resolved=""><colgroup><col
                                style="width: 29.5775%;"><col style="width:
                                70.4225%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td class="confluenceTd">start</td><td
                                    class="confluenceTd">开始时间，与end配合使用，查询范围内时间的日志</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">end</td><td
                                    colspan="1" class="confluenceTd">结束时间，与start配合使用，查询范围内时间的日志</td></tr></tbody></table></div><p
                    class="auto-cursor-target">method=words时</p><div
                    class="table-wrap"><table class="relative-table wrapped
                        confluenceTable tablesorter tablesorter-default
                        stickyTableHeaders" style="width: 27.0652%; padding:
                        0px;" role="grid" resolved=""><colgroup><col
                                style="width: 29.3763%;"><col style="width:
                                70.6237%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td class="confluenceTd">words</td><td
                                    class="confluenceTd">关键字，返回这条关键字的所有日志</td></tr></tbody></table></div><p
                    class="auto-cursor-target">返回参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 50.7014%;"><col
                                style="width: 49.2986%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td colspan="1" class="confluenceTd">code</td><td
                                    colspan="1" class="confluenceTd">返回状态码，0正常，1错误</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">msg</td><td
                                    colspan="1" class="confluenceTd">返回状态信息</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">count</td><td
                                    colspan="1" class="confluenceTd">查询到的日志的条数</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">error</td><td
                                    colspan="1" class="confluenceTd">发生错误，正常情况下为""</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data</td><td
                                    colspan="1" class="confluenceTd">返回日志查询的内容信息</td></tr></tbody></table></div><p>获取统计信息：</p><p
                    class="auto-cursor-target"><span class="url-filename"><a
                            href="http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/statistics"
                            class="external-link" rel="nofollow">http://9252.gr984e2a.i8tkcg64.786129.grapps.cn/statistics</a></span></p><p
                    class="auto-cursor-target">请求方法：GET</p><p
                    class="auto-cursor-target">请求参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 30.0601%;"><col
                                style="width: 69.9399%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td class="confluenceTd">method</td><td
                                    class="confluenceTd">有words（关键词搜索频率）error（错误信息）time（请求平均耗时）address（用户实际地理位置统计）</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">start</td><td
                                    colspan="1" class="confluenceTd">开始时间，与end配合使用，统计范围内时间的数据</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">end</td><td
                                    colspan="1" class="confluenceTd">结束时间，与start配合使用，统计范围内时间的数据</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">page</td><td
                                    colspan="1" class="confluenceTd">分页查询，不加默认返回全部，需要与limit参数配合使用</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd"><p>limit</p></td><td
                                    colspan="1" class="confluenceTd">每页条数，需要与page参数配合使用</td></tr></tbody></table></div><p
                    class="auto-cursor-target">返回参数：</p><div class="table-wrap"><table
                        class="relative-table wrapped confluenceTable
                        tablesorter tablesorter-default stickyTableHeaders"
                        style="width: 27.1739%; padding: 0px;" role="grid"
                        resolved=""><colgroup><col style="width: 50.7014%;"><col
                                style="width: 49.2986%;"></colgroup><thead
                            class="tableFloatingHeaderOriginal"><tr role="row"
                                class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><thead
                            class="tableFloatingHeader" style="display: none;"><tr
                                role="row" class="tablesorter-headerRow"><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="0" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="字段名: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">字段名</div></th><th
                                    class="confluenceTh tablesorter-header
                                    sortableHeader tablesorter-headerUnSorted"
                                    data-column="1" tabindex="0" scope="col"
                                    role="columnheader" aria-disabled="false"
                                    unselectable="on" style="user-select: none;"
                                    aria-sort="none" aria-label="含义: No sort
                                    applied, activate to apply an ascending
                                    sort"><div class="tablesorter-header-inner">含义</div></th></tr></thead><tbody
                            aria-live="polite" aria-relevant="all"><tr
                                role="row"><td colspan="1" class="confluenceTd">code</td><td
                                    colspan="1" class="confluenceTd">返回状态码，0正常，1错误</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">msg</td><td
                                    colspan="1" class="confluenceTd">返回状态信息</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">count</td><td
                                    colspan="1" class="confluenceTd">查询到的日志的条数</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">error</td><td
                                    colspan="1" class="confluenceTd">发生错误，正常情况下为""</td></tr><tr
                                role="row"><td colspan="1" class="confluenceTd">data</td><td
                                    colspan="1" class="confluenceTd">统计信息</td></tr></tbody></table></div>
            </div>

































        </div></body></html>